@import "./_variables";

body.light {
    background: url(/images/bg-mobile-light.jpg), $veryLightGrayishBlue;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    
}

header.light {
    
    #darkToLight {
        background-image: url(/images/icon-moon.svg);
    }
}


form.light {

    .mainWrapper {
        background-color: $veryLightGray;


        input#todoInput {
            color:$darkGrayishBlue;
        }

        input#todoInput::placeholder {
            color: $veryLightGray;
        }
    }
}


.todoTest.light {

    ul.todoListTest {
        background-color: $veryLightGray;
        color: $darkGrayishBlue;

        li.itemTest {
            color: $darkGrayishBlue;
            border-bottom: solid $lightGrayishBlue 0.05px;
            
            .words {
                color: $darkGrayishBlue;
            }
        }
    }
}

.valueContainer.light {

    .valueWrapper {
        background-color: $veryLightGray;
    }
}


footer.light {

    #instructions {

        background-color: $veryLightGray;

        ul {

            #all {
                color: $lightGrayishBlue;
            }

            #all.active {
                color: $brightBlue;;
            }

            #active {
                color:  $lightGrayishBlue;
            }

            #active.active {
                color: $brightBlue;
            }
            
            #completed {
                color:  $lightGrayishBlue;
            }

            #completed.active {
                color: $brightBlue;
            }
        }
    }
}

div.dragInstruction.light {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 0 3em 0;

    p {
        color: $lightGrayishBlue;
        font-family: $fontFamily;
    }
}