* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(/images/bg-desktop-dark.jpg), #161722;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 175%;
}

header {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo h1 {
  font-family: Josefin Sans;
  font-weight: 400;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

header #darkToLight {
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25273c;
  margin: 0;
  padding: 1em 2em 1em 2em;
  border-radius: 1em;
}

form .mainWrapper input#submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #cacde8;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

form .mainWrapper input#submit:checked {
  background: url(/images/icon-check.svg), #777a92;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border: none;
  outline: none;
}

form .mainWrapper input#todoInput {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px;
  outline: none;
  color: #777a92;
  font-size: 1em;
}

form .mainWrapper input#todoInput::-webkit-input-placeholder {
  color: #4d5066;
}

form .mainWrapper input#todoInput:-ms-input-placeholder {
  color: #4d5066;
}

form .mainWrapper input#todoInput::-ms-input-placeholder {
  color: #4d5066;
}

form .mainWrapper input#todoInput::placeholder {
  color: #4d5066;
}

.valueContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.valueContainer .valueWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25273c;
  margin: 1em 0;
  padding: 1em 2em 1em 2em;
  border-radius: 0 0 1em 1em;
}

.valueContainer .valueWrapper .itemsLeftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #4d5066;
  font-family: Josefin Sans;
  font-size: 12px;
}

.valueContainer .valueWrapper .itemsLeftContainer span {
  padding: 0 0.5em 0 0;
}

.valueContainer .valueWrapper #clearCompleted {
  color: #4d5066;
  font-family: Josefin Sans;
  padding: 0 0 0 7.5em;
  font-size: 12px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 2.25em 1.5em 2.25em;
  border-radius: 1em;
  background-color: #25273c;
}

footer #instructions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer #instructions ul li {
  font-family: Josefin Sans;
  padding: 0 1em;
}

footer #instructions ul #all {
  color: #4d5066;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer #instructions ul #all.active {
  color: #fafafa;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer #instructions ul #active {
  color: #4d5066;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer #instructions ul #active.active {
  color: #fafafa;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer #instructions ul #completed {
  color: #4d5066;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

footer #instructions ul #completed.active {
  color: #fafafa;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */