* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(/images/bg-desktop-dark.jpg), #161722;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 175%;
}

header {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo h1 {
  font-family: Josefin Sans;
  font-weight: 400;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

header #darkToLight {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(/images/icon-sun.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25273c;
  margin: 0;
  width: 19.5em;
  border-radius: 1em 1em 0 0;
  padding: 0 1.8em;
}

form .mainWrapper input#todoInput {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2em 0;
  outline: none;
  color: #777a92;
  text-align: left;
  width: 19.5em;
  font-size: 15px;
}

form .mainWrapper input#todoInput::-webkit-input-placeholder {
  color: #4d5066;
  font-size: 1em;
}

form .mainWrapper input#todoInput:-ms-input-placeholder {
  color: #4d5066;
  font-size: 1em;
}

form .mainWrapper input#todoInput::-ms-input-placeholder {
  color: #4d5066;
  font-size: 1em;
}

form .mainWrapper input#todoInput::placeholder {
  color: #4d5066;
  font-size: 1em;
}

form .mainWrapper input#todoInput.active::-webkit-input-placeholder {
  visibility: hidden;
}

form .mainWrapper input#todoInput.active:-ms-input-placeholder {
  visibility: hidden;
}

form .mainWrapper input#todoInput.active::-ms-input-placeholder {
  visibility: hidden;
}

form .mainWrapper input#todoInput.active::placeholder {
  visibility: hidden;
}

.todoTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todoTest ul.todoListTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25273c;
  list-style: none;
}

.todoTest ul.todoListTest li.itemTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19.5em;
  padding: 1em 0;
}

.todoTest ul.todoListTest li.itemTest .checkBox {
  margin: 0 0 0 1.5em;
}

.todoTest ul.todoListTest li.itemTest .checkBox input#submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #cacde8;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.todoTest ul.todoListTest li.itemTest .checkBox input#submit:checked {
  background: url(/images/icon-check.svg), #777a92;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border: none;
  outline: none;
}

.todoTest ul.todoListTest li.itemTest .words {
  color: #cacde8;
  font-family: Josefin Sans;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 0;
  word-wrap: break-word;
  font-size: 15px;
  max-width: 42%;
  text-align: left;
  position: absolute;
  margin: 0 0 0 5em;
  line-height: 1.1em;
}

.todoTest ul.todoListTest li.itemTest .words.active {
  opacity: 0.5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: line-through;
}

.todoTest ul.todoListTest li.itemTest .cross {
  margin: 0 2em 0 0;
  cursor: pointer;
}

.todoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todoContainer .todoList {
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: #25273c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 7.8em 0 7.8em;
}

.todoContainer .todoList .todo li {
  font-family: Josefin Sans;
  color: #fafafa;
  padding: 1em 0;
}

.valueContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.valueContainer .valueWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25273c;
  padding: 1em 0;
  width: 19.5em;
  border-radius: 0 0 1em 1em;
}

.valueContainer .valueWrapper .itemsLeftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #4d5066;
  font-family: Josefin Sans;
  font-size: 12px;
}

.valueContainer .valueWrapper .itemsLeftContainer span {
  color: #4d5066;
  padding: 0 0.5em 0 0;
}

.valueContainer .valueWrapper #clearCompleted {
  color: #4d5066;
  font-family: Josefin Sans;
  padding: 0 0 0 7.5em;
  font-size: 12px;
}

.valueContainer .valueWrapper #clearCompleted p {
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
  margin: 1em 0 4em 0;
  width: 19.5em;
  border-radius: 1em;
  background-color: #25273c;
}

footer #instructions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer #instructions ul li {
  font-family: Josefin Sans;
  padding: 0 1em;
}

footer #instructions ul #all {
  color: #4d5066;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

footer #instructions ul #all.active {
  color: #fafafa;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

footer #instructions ul #active {
  color: #4d5066;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

footer #instructions ul #active.active {
  color: #fafafa;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

footer #instructions ul #completed {
  color: #4d5066;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

footer #instructions ul #completed.active {
  color: #fafafa;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */