@import "./_variables";

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: url(/images/bg-desktop-dark.jpg), $veryDarkBlue;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 175%;
    
}

header {
    padding: 10%;
    display: flex;
    justify-content: space-between;

    .logo {

        h1 {
            font-family: $fontFamily;
            font-weight: 400;
            color: $veryLightGray;
            text-transform: uppercase;
            letter-spacing: 0.25em;

        }
    }

    #darkToLight {
        cursor: pointer;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

    .mainWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $veryDarkDesaturatedBlue;
        margin: 0;
        padding: 1em 2em 1em 2em;
        border-radius: 1em 1em 0 0;

        input#submit {
            appearance: none;
            background-color: transparent;
            border: 1px solid $lightGrayishBlue;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            cursor: pointer;
        }

        input#submit:checked {
            background: url(/images/icon-check.svg), $darkGrayishBlue;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
            border:none;
            outline: none;
        }

        input#todoInput {
            border:none;
            background-color: transparent;
            box-shadow: transparent;
            appearance: none;
            padding: 12px;
            outline: none;
            color:$darkGrayishBlue;
            font-size: 1em;
        }

        input#todoInput::placeholder {
            color: $veryDarkGrayishBlue;
        }

    }

}

.todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .todoList {
        margin:0;
        list-style: none;
        padding: 0;
        background-color: $veryDarkDesaturatedBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 7.8em 0 7.8em;
    

        .todo li {
            font-family: $fontFamily;
            color:  $veryLightGray;
            padding: 1em 0;
        }
    }
}



.valueContainer {
    display: flex;
    justify-content: center;
    align-items: center;


    .valueWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $veryDarkDesaturatedBlue;
        margin: 1em 0;
        padding: 1em 2em 1em 2em;
        border-radius: 0 0 1em 1em;


        .itemsLeftContainer {
            display: flex;
            justify-content: space-around;
            color:  $veryDarkGrayishBlue;
            font-family: $fontFamily;
            font-size: 12px;

            span {
                color:  $veryDarkGrayishBlue;
                padding: 0 0.5em 0 0;
            }
        }

        #clearCompleted {
            color: $veryDarkGrayishBlue;
            font-family: $fontFamily;
            padding: 0 0 0 7.5em;
            font-size: 12px;

        }

    }


}





footer {
    display: flex;
    justify-content: center;
    align-items: center;

    #instructions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em 2.25em 1.5em 2.25em;
        border-radius: 1em;
        background-color: $veryDarkDesaturatedBlue;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                font-family: $fontFamily;
                padding: 0 1em;
            }

            #all {
                color: $veryDarkGrayishBlue;
                transition: 0.5s all;
                cursor: pointer;
            }

            #all.active {
                color: $veryLightGray;
                transition:  0.5s all;
                cursor: pointer;
            }

            #active {
                color:  $veryDarkGrayishBlue;
                transition: 0.5s all;
                cursor: pointer;
            }

            #active.active {
                color: $veryLightGray;
                transition: 0.5s all;
                cursor: pointer;
            }
            
            #completed {
                color:  $veryDarkGrayishBlue;
                transition: 0.5s all;
                cursor: pointer;
            }

            #completed.active {
                color: $veryLightGray;
                transition: 0.5s all;
                cursor: pointer;
            }
        }
    }
}